<div class="button-group">
  <label for="fileInput" class="custom-button upload-button">
    📁 Choose File
  </label>
  <span class="file-name">{{ selectedFile?.name || "No file selected" }}</span>
  <button class="custom-button action-button" (click)="onButtonClick()">
    🚀 Upload
  </button>
</div>
<input type="file" (change)="onFileSelected($event)" id="fileInput" hidden />

<div *ngIf="fileUrls.length === 0">
  <p>Please select a file to upload.</p>
</div>
<div class="container">
  <!-- PDFs Section -->
  <div class="pdf-section">
    <h2>PDFs:</h2>
    <div *ngFor="let url of fileUrls">
      <iframe [src]="url" width="100%" height="400px"></iframe>
    </div>
  </div>

  <div class="tree-section">
    <h2>Subtree Hierarchy:</h2>
    <div *ngIf="tree">
      <ul>
        <li>
          <div class="node" (click)="handleTermClick(tree.properties.term)">
            <span>{{ tree.properties.term }}</span>
            <span *ngIf="tree.properties.isConcept">(Concept)</span>
          </div>
          <ul *ngIf="tree.children.length > 0">
            <ng-container *ngFor="let child of tree.children">
              <app-tree-node
                [node]="child"
                (termClick)="handleTermClick($event)"
              ></app-tree-node>
            </ng-container>
          </ul>
        </li>
      </ul>
    </div>
    <div *ngIf="!tree">
      <p>Loading tree hierarchy...</p>
    </div>
  </div>
</div>
