<div class="test-details">
  <h1>{{ test.name }}</h1>
  <p><strong>Field:</strong> {{ test.field.name }}</p>

  <section>
    <h2>Connect Questions</h2>
    <div
      class="questions connect-questions"
      *ngFor="let question of test.connectQuestions"
    >
      <div class="question">
        <h3>Question {{ question.id }}</h3>
        <div class="terms">
          <div>
            <h4>Terms:</h4>
            <ul>
              <li *ngFor="let term of question.belongTerms">{{ term }}</li>
            </ul>
          </div>
          <div>
            <h4>Bellonging Terms:</h4>
            <ul>
              <li *ngFor="let term of question.bellongingTerms">{{ term }}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <h2>Definition Questions</h2>
    <div class="questions definition-questions">
      <ul>
        <li *ngFor="let question of test.definitionQuestions">
          Question {{ question.id }}: <strong>{{ question.term }}</strong>
        </li>
      </ul>
    </div>
  </section>
</div>
