<p>Welcome!</p>
<button (click)="navigateToNetworksPage()">Go to Networks Page</button
><br /><br />
<button (click)="navigateToHardwarePage()">Go to Hardware Page</button
><br /><br />
<button (click)="navigateToNetworksPage()">
  Go to Human-centered computing Page</button
><br /><br />
<button (click)="navigateToNetworksPage()">
  Go to Information systems Page</button
><br /><br />
<button (click)="navigateToNetworksPage()">
  Go to Software engineering Page</button
><br /><br />
<button (click)="navigateToNetworksPage()">
  Go to Mathematics in computing Page</button
><br /><br />
<button (click)="navigateToNetworksPage()">
  Go to Security and privacy Page
</button>
